html,
body {
  height: 100%;
  min-height: 100%;
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
html,
body,
blockquote,
code,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100%;
  height: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.paper-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.article-card {
  height: 250px;
  width: 250px;
  margin: 15px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.rank {
  font-size: 1.3em;
  color: grey;
  margin: 5px;
  grid-row-start: 1;
  grid-column-start: 1;
}

h1 {
  font-family: "Pacifico", cursive;
}

.article-title {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-column-end: 5;
}

.image-container{
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 5;
  grid-column-end: 3;
  object-fit: cover;
}
.article-image {
  max-height: 100%;

}

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500|Pacifico");

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://fonts.googleapis.com/css?family=Pacifico");
